/* styles.css - Interfaz CRCA */
body { background: #13151f; color: #d1d5db; font-family: 'Roboto', sans-serif; }
.panel { border-left: 4px solid #4cc9f0; background: #1e2132; margin: 10px; padding: 20px; }
.resaltar-75 { border: 2px solid #fee440; box-shadow: 0 0 15px #fee440; }
